<!-- Professional
Can only access if special username provided
shows data from Survey (shows all by default)(Tableau dashboard)
Dropdown list to filter to a specific person -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/content/css/styles.css">
</head>
<!-- Body holds survey data-->
<body>
    <label><b>Admin Control Panel:</b></label>
    <br><br><br>
    <td style="text-align: center;">
        <form>
            <a class="btn btn-primary" href="/createaccount">Create Account</a></div>
        </form>
    </td>
    <br><br>
    <td style="text-align: center;">
        <form>
            <label for="participantIdRange"><b>Sort by ParticipantID Range:</b></label>
            <select id="participantIdRange" name="participantIdRange" onchange="this.form.submit()">
            <option value="all">All Participants</option>
            <option value="1-50">1-50</option>
            <option value="51-100">51-100</option>
            <option value="101-150">101-150</option>
            <option value="151-200">151-200</option>
            <option value="201-250">201-250</option>
            <option value="251-300">251-300</option>
            <option value="301-350">301-350</option>
            <option value="351-400">351-400</option>
            <option value="401-450">401-450</option>
            <option value="451-500">451-500</option>
            <option value="501-550">501-550</option>
            <option value="551-600">551-600</option>
            </select>
        </form>
    </td>
    <br><br> 
    <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
        <thead style="background-color: cornflowerblue; color:white;">
            <tr>
                <th style="text-align: center; padding: 10px;">ParticipantID</th>
                    <th style="text-align: center; padding: 10px;">Date</th>
                    <th style="text-align: center; padding: 10px;">Time</th>
                    <th style="text-align: center; padding: 10px;">Age</th>
                    <th style="text-align: center; padding: 10px;">Gender</th>
                    <th style="text-align: center; padding: 10px;">RelationshipStatus</th>
                    <th style="text-align: center; padding: 10px;">OccupationStatus</th>
                    <th style="text-align: center; padding: 10px;">Organization</th>
                    <th style="text-align: center; padding: 10px;">DoYouUseSocialMedia</th>
                    <th style="text-align: center; padding: 10px;">SocialMediaNum</th>
                    <th style="text-align: center; padding: 10px;">SMPlatforms</th>
                    <th style="text-align: center; padding: 10px;">AvgTime</th>
                    <th style="text-align: center; padding: 10px;">ResponseID</th>
                    <th style="text-align: center; padding: 10px;">NoSpecPurpose</th>
                    <th style="text-align: center; padding: 10px;">HowOftDisctracted</th>
                    <th style="text-align: center; padding: 10px;">Restless</th>
                    <th style="text-align: center; padding: 10px;">HowDistracted</th>
                    <th style="text-align: center; padding: 10px;">HowOftCompare</th>
                    <th style="text-align: center; padding: 10px;">CompFeelings</th>
                    <th style="text-align: center; padding: 10px;">OftValidation</th>
                    <th style="text-align: center; padding: 10px;">OftDepressed</th>
                    <th style="text-align: center; padding: 10px;">DailyActFluctuate</th>
                    <th style="text-align: center; padding: 10px;">SleepIssues</th>
                    <th style="text-align: center; padding: 10px;">DataFrom</th>

            </tr>
        </thead> 
        <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < fulldata.length; iCount++) { %>
                <tr>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].ParticipantID %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].Date %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].Time %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].Age %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].Gender %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].RelationshipStatus %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].OccupationStatus %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].Organization %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].DoYouUseSocialMedia %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].SocialMediaNum %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].SMPlatforms %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].AvgTime %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].ResponseID %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].NoSpecPurpose %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].HowOftDisctracted %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].Restless %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].HowDistracted %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].HowOftCompare %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].CompFeelings %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].OftValidation %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].OftDepressed %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].DailyActFluctuate %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].SleepIssues %></td>
                    <td style="text-align: center; padding: 10px;"><%= fulldata[iCount].DataFrom %></td>
                    <td style="text-align: center;">
                        <form action="/editUser/<%= fulldata[iCount].ParticipantID %>/<%= fulldata[iCount].SocialMediaNum %>/<%= fulldata[iCount].SMPlatforms %>" method="GET">
                            <button type="submit">Edit User</button>
                        </form>   
                    </td>
                    <td style="text-align: center;">
                        <form action="/deleteUser/<%= fulldata[iCount].ParticipantID %>" method="POST">
                            <button type="submit">Delete User</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody> 
    </table>
</body>
</html>
